@import url('https://fonts.googleapis.com/css?family=Rum+Raisin&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter');

:root{
    --blackh: #0C0C14;
    --blackr: rgba(12, 12, 20, 255);

    --whiteh: #F0F7F4;
    --whiter: rgba(240, 247, 244, 255);

    --blueh: #279AF1;
    --bluer: rgba(39, 154, 241, 255);

    --redh: #F93943;
    --redr: rgba(249, 57, 67, 255);

    --greenh: #9CDE9F;
    --greenr: rgba(156, 222, 159, 255);

    --yellowh: #ffdf00;

    --darkGreeneh: #062726;
    --darkGreenr: rgba(6, 39, 38, 0.8);
    
    --lightGreeneh: #136F63;
    --lightGreener: rgba(19, 111, 99, 0.5);

    --greenblueh: #0CA4A5;
    --greenBluer: rgba(12, 164, 165, 0.5);

  }

 
  body {
    font-size: 14px;
    background-color:var(--blackh);
    height: 100vh;
    
    overflow: hidden;
    padding:10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  /*Likely Redundant*/
  
.background-image {
  background-image: url('../Assets/Backgrounds/DeerForestBG.png');
  background-repeat: no-repeat;
  background-size: cover; 
  height: 100vh;
  width: 100vw;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(3px);
  }

header {
	color: var(--whiteh);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 15px;

    background: rgba(12, 12, 20, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    border: 1px solid rgba(240, 247, 244, 0.43);

	.left-side {
		width: 25%;
		justify-content: left;
		align-items: center;
		
		h1 {
			font-size: 4em;
			margin: 0;
			cursor: pointer;
		}
	}

	.middle-side {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50%;
		a {
			font-size: 2em;
			margin-left: 10px;
			margin-right: 10px;
			cursor: pointer;
		}
	}

	.right-side {
		width: 25%;
		display: flex;
		flex-direction: row;
		justify-content: right;
		align-items: center;
		
		div {
			width: 20%;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin-left: 10px;
			margin-right: 10px;
			cursor: pointer;
		}
		
		img {
			width: 2.5vw;
			height: 2.5vw;
			margin: 0;
			margin-left: 5px;
			margin-right: 5px;
		}
		p {
			font-size: 2em;
			margin: 0;
		}
	}
}
.profileSidebar{
  width:200px;
  height:1000%;
  background-color: var(--darkGreeneh);
  position:fixed;
  top:0;
  right:-600px;
  z-index: 0;
  transition: right 0.3s ease;
}
#profileButton{
  position:relative;
  z-index:1;
}
.profileSidebar.show{
  right:0;

}
.sidebarChoices{
  z-index:1;
  padding:0;
  margin:0;
  position:relative;
}


  .content{
    padding: 20px;
  }

  .words{
    font-family:Inter;
    font-size: 30px;
    
  }
  .bottomRowWords{
    display:flex;
    justify-content: space-between ;
    position:relative;
    top:300px;
    font-family:Inter;
    font-size: 30px;
  }

  .bottomRow{
    display:flex;
    justify-content: space-between;
    position:relative;
    top:350px;
    padding-left: 100px;
    padding-right: 100px;
    
  }
  .taskBox{
    width: 300px;
    height: 421px;
    background: var(--darkGreenr);
    align-items: center;
    top:376px;
    overflow: hidden;
    font-family: Inter;
    color:var(--whiteh);
    font-size:40px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius:10px;

  }
  .searchBar{
    height:50px;
    width:200px;
    background:var(--whiteh);
    border-radius:10px;
    color:var(--blackh);
    font-size:30px;
    flex-grow: 1;
  }
  .add_QuestBar{
    height:50px;
    width:275px;
    margin-left:10px;
    background:var(--whiteh);
    border-radius:10px;
    font-size:30px;
    flex-grow: 1;
  }
  .task_Bar{
    height:50px;
    width:200px;
    margin-right: 10px;
    background:var(--whiteh);
    border-radius:10px;
    color:var(--blackh);
    font-size:30px;
    flex-grow: 1;
  }
  .check_Box{
    background:var(--whiteh);
    width:50px;
    height:50px;
    cursor:pointer;
    z-index: inherit;
    border-radius:10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  /*
  This is the Home page version of Personals pages text_Box
  so one or the other will need to be renamed, I prefer text_Box to be 
  renamed but we'll see
  */
  .item_Box{
    height:100px;
    width:100%;
    align-items: center;
    display:flex;
  }
  /*
    .calendarBox {
    width: 300px;
    height: 300px;
    background: var(--whiteh);
    
    opacity: 1;
    
    align-items: center;
    top: 375px;
    
    overflow: hidden;
  }
*/
 

  /*Habit Quest Sign*/

  /*Main Banner*/
  .mainBanner {
    width: 100%;
    height: 194px;
    background: var(--darkGreenr);
    z-index:0;
    position: absolute;
    top: 105px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    
    
  }
  /*
  for some reason theres a bit of margin or something 
  just needs careful observation we'll see
  */
  .bottom_Bar{
    background:var(--greenBluer);
    width:100%;
    height:75px;
    z-index:0;
    position:absolute;
    top:300px;
    right:0px;
    display:flex;
    align-items: center;
  }
  .star_Image{
    width: 45px;
    height: 42px;
    background: url("../Assets/Symbols/star.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    position: absolute;
    overflow: hidden;
    left:50px;
    margin-right:20px;
  }



  .dateTime{
    font-family: Inter;
    color:var(--whiteh);
    font-size: 30px;
    position:absolute;
    right:300px;
    top:50px;
    
  }
  .date{
    font-size:120%;
  }
  .time{
    font-size:80%;
  }
 
  /* .streak{
    display:flex;
    color:var(--yellowh); 
    margin-top:10px;
    margin-left:550px;
    
   
  }
  .streak img{
    margin-top:30px;
    margin-left:30px;
  } */
  
 
 
  /* Damage Bar*/
  .power {
    width: 77px;
    color: var(--yellowh);
    position: absolute;
    top: 100px;
    left: 243px;
    font-family: Rum Raisin;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .mainCharacterImage {
    width: 127px;
    height: 128px;
    background: url("../Assets/Characters/BlueHairHeroine1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 25px;
    left: 30px;
    overflow: hidden;
  }

  .partyCharacter1 {
    width: 127px;
    height: 128px;
    background: url("../Assets/Characters/Heroin2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 25px;
    left: 30px;
    overflow: hidden;
  }

  
  .partyCharacter2 {
    width: 127px;
    height: 128px;
    background: url("../Assets/Characters/Heroine3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 25px;
    left: 30px;
    overflow: hidden;
  }
  .partyCharacter3 {
    width: 127px;
    height: 128px;
    background: url("../Assets/Characters/Heroine4.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 25px;
    left: 30px;
    overflow: hidden;
  }
  .partyCharacter4 {
    width: 127px;
    height: 128px;
    background: url("../Assets/Characters/MainCharacter1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 25px;
    left: 30px;
    overflow: hidden;
  }
  /* Daily Quest Task List */

  /* Weekly Quests*/




  .coinImage {
    width: 45px;
    height: 42px;
    background: url("../Assets/Symbols/CoinNoBG.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 42px;
    left: 750px;
    overflow: hidden;
  }

   /*Main Character Circle */
  .characterFiller {
    width: 181px;
    height: 167px;
    background: var(--greenBluer);
    top:10px;
    opacity: 1;
    position: absolute;
    
    left: 3px;
    border-radius: 50%;
  }
  /*Shop Sign */




  .profileFiller {
    width: 81px;
    height: 81px;
    background: var(--whiteh);
    opacity: 1;
    position: absolute;
    top: 13px;
    left: 1250px;
    border-radius: 50%;
  }
  

  .coinImage {
    width: 32px;
    height: 34px;
    background: url("../Assets/Symbols/CoinNoBG.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 46px;
    left: 1100px;
    overflow: hidden;
  }
  .coinBalance {
    width: 39px;
    color: var(--whiteh);
    position: absolute;
    top: 44px;
    left: 1150px;
    font-family: Rum Raisin;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .heartImage {
    width: 38px;
    height: 28px;
    background: url("../Assets/Symbols/RedHeartNoBG.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 65px;
    left: 197px;
    overflow: hidden;
  }
  .heartNumbers {
    width: 77px;
    color: var(--redh);
    position: absolute;
    top: 55px;
    left: 243px;
    font-family: Rum Raisin;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .swordImage {
    width: 129px;
    height: 52px;
    background: url("../Assets/Symbols/GoldenSwordNoBG.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 100px;
    left: 147px;
    overflow: hidden;
  }
  
 

  
  
  