/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rum+Raisin&display=swap');

/*
TITLE FONT
font-family: "Rum Raisin", sans-serif;
font-weight: 400;
font-style: normal;

REGULAR FONT (weight: 100-900)
font-family: "Inter", sans-serif;
font-optical-sizing: auto;
font-weight: <weight>;
font-style: normal;
font-variation-settings:
"slnt" 0;
*/

/* Colors */
:root {
    --blackh: #0C0C14;
    --blackr: rgba(12, 12, 20, 255);

    --whiteh: #F0F7F4;
    --whiter: rgba(240, 247, 244, 255);

    --blueh: #279AF1;
    --bluer: rgba(39, 154, 241, 255);

    --redh: #F93943;
    --redr: rgba(249, 57, 67, 255);

    --greenh: #9CDE9F;
    --greenr: rgba(156, 222, 159, 255);

    --yellowh: #ffdf00;

    --darkGreeneh: #062726;
    --darkGreenr: rgba(6, 39, 38, 0.8);
    
    --lightGreeneh: #136F63;
    --lightGreener: rgba(19, 111, 99, 0.5);

    --greenblueh: #0CA4A5;
    --greenBluer: rgba(12, 164, 165, 0.5);
}

body {
	font-size: 14px;
  background-color:var(--blackh);
  height: 100vh;
  
  overflow: hidden;
  padding:10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.background-image {
  background-image: url('../Assets/Backgrounds/background.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
  height: 100vh;
  width: 100vw;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(3px);
}

header {
	color: var(--whiteh);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 15px;

    background: rgba(12, 12, 20, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    border: 1px solid rgba(240, 247, 244, 0.43);

	.left-side {
		width: 25%;
		justify-content: left;
		align-items: center;
		
		h1 {
			font-size: 4em;
			margin: 0;
			cursor: pointer;
		}
	}

	.middle-side {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50%;

        a {
          overflow: hidden;
          position: relative;
          display: inline-block;
        }

        .active {
            color: var(--greenblueh);
            font-weight: 700;
        }

        a::before,
        a::after {
         content: '';
          position: absolute;
          width: 100%;
          left: 0;
        }
        a::before { 
          bottom: 0;
          transform-origin: 100% 50%;
          transform: scaleX(0);
          transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1); 
        }
        a::after {
          content: attr(data-replace);
          height: 100%;
          top: 0;
          transform-origin: 100% 50%;
          transform: translate3d(200%, 0, 0);
          transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
          font-weight: 600;
          color: var(--lightGreeneh);
        }

        a:hover::before {
          transform-origin: 0% 50%;
          transform: scaleX(1);
        }
        a:hover::after {
          transform: translate3d(0, 0, 0);
        }

        a span {
          display: inline-block;
          transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
        }

        a:hover span {
          transform: translate3d(-200%, 0, 0);
        }

        a {
            font-size: 2em;
        	text-decoration: none;
        	color: white;
            padding-left: 10px;
            padding-right: 10px;
            cursor: pointer;
        	/* font-weight: 700; */
        	vertical-align: top;
        }

	}

	.right-side {
		width: 25%;
		display: flex;
		flex-direction: row;
		justify-content: right;
		align-items: center;
		
		div {
			width: 20%;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin-left: 10px;
			margin-right: 10px;
			cursor: pointer;
		}
		
		img {
			width: 2.5vw;
			height: 2.5vw;
			margin: 0;
			margin-left: 5px;
			margin-right: 5px;
		}
		p {
			font-size: 2em;
			margin: 0;
		}
	}
}

.main-wrapper {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-container {
	margin-top: 4%;
	height: 70vh;
	width: 70vw;
	display: flex;
	flex-direction: column;
	background-color: rgba(12, 12, 20, 0.38);
	border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    border: 1px solid rgba(240, 247, 244, 0.43);

	.top {
		display: flex;
		flex-direction: row;
		align-items: center;

		
		.left-side {
			display: flex;
			flex-direction: row;
			justify-content: center;

			.profile-picture {
				height: 20vh;
				width: 20vh;
				background-color: var(--greenBluer);
				margin: 25px;
				border-radius: 50%;
				text-align: center;
				justify-content: center;
				align-items: center;
				display: flex;

				img {
					width: 70%;
					height: 85%;
					background-size: cover;
				}

			}
		}

		.right-side {
			color: var(--whiteh);
			
			h1 {
				font-size: 48px;
				font-weight: 600;
				margin: 0;
			}

			p {
				color: gray;
				font-size: 18px;
				margin: 0;
			}

		}
	}

	hr {
		margin-top: 0;
		margin-bottom: 25px;
		margin-left: 100px;
		margin-right: 100px;
		border-color: var(--blueh);
	}

	.middle {
		display: flex;
		flex-direction: column;
		color: var(--whiteh);

		.email-container {
			display: flex;
			flex-direction: row;
			text-align: center;

			.email-label {
				width: 25%;
				p {
					font-size: 32px;;
					margin: 0;
				}
			}

			.email-input {
				width: 75%;
				margin: 0;
			}


		}

	}

}

