/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rum+Raisin&display=swap');

/*
TITLE FONT
font-family: "Rum Raisin", sans-serif;
font-weight: 400;
font-style: normal;

REGULAR FONT (weight: 100-900)
font-family: "Inter", sans-serif;
font-optical-sizing: auto;
font-weight: <weight>;
font-style: normal;
font-variation-settings:
"slnt" 0;
*/

/* Colors */
:root {
    --blackh: #0C0C14;
    --blackr: rgba(12, 12, 20, 255);

    --whiteh: #F0F7F4;
    --whiter: rgba(240, 247, 244, 255);

    --blueh: #279AF1;
    --bluer: rgba(39, 154, 241, 255);

    --redh: #F93943;
    --redr: rgba(249, 57, 67, 255);

    --greenh: #9CDE9F;
    --greenr: rgba(156, 222, 159, 255);
}

body {
    background-image: url('../Assets/Backgrounds/background.jpg');
    background-color: var(--blackh);
    background-repeat: no-repeat;
    background-size: cover; 
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: row;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
}

.main-body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-body-background {
    height: 70vh;
    width: 70vw;
    background-color: rgba(240, 247, 244, .75);
 
}
