<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Change page name -->
    <title>Habit Quest | PAGE NAME</title>
    <link rel="icon" href="../Assets/Characters/Heroine2.jpg" type="image/jpeg">
    <link rel="stylesheet" href="template.css">
</head>

<body>

    <!-- Optional Header -->
    <header>
        <div class="left-side">
            <h1>Habit Quest</h1>
        </div>
        <div class="middle-side">
            <div class="page-buttons">
                <a>Shop</a>
                <a>Inventory</a>
                <a>Achievements</a>
                <a>Progess</a>
                <a>Party</a>
                <a>About Us</a>
                <a>Profile</a>
            </div>
        </div>
        <div class="right-side">
            <div class="streak">
                <img src="../Assets/Symbols/FireNoBG.png">
                <p>10</p>
            </div>
            <div class="coins">
                <img src="../Assets/Symbols/CoinNoBG.png">
                <p>100</p>
            </div>
            <div class="profile">
                <img src="..\Assets\Symbols\PorscheCircleNoBG.png">
                <p>Abid</p>
            </div>
        </div>
    </header>

    <div class="background-image"></div>

    <script src="template.js"></script>

</body>

</html>