/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rum+Raisin&display=swap');

/*
TITLE FONT
font-family: "Rum Raisin", sans-serif;
font-weight: 400;
font-style: normal;

REGULAR FONT (weight: 100-900)
font-family: "Inter", sans-serif;
font-optical-sizing: auto;
font-weight: <weight>;
font-style: normal;
font-variation-settings:
"slnt" 0;
*/

/* Colors */
:root {
    --blackh: #0C0C14;
    --blackr: rgba(12, 12, 20, 255);

    --whiteh: #F0F7F4;
    --whiter: rgba(240, 247, 244, 255);

    --blueh: #279AF1;
    --bluer: rgba(39, 154, 241, 255);

    --redh: #F93943;
    --redr: rgba(249, 57, 67, 255);

    --greenh: #9CDE9F;
    --greenr: rgba(156, 222, 159, 255);
}

 
  body {
    font-size: 14px;
    background-color:var(--blackh);
    height: 100vh;
    overflow: hidden;
    padding:10px;
  }

.background-image {
  background-image: url('../Assets/Backgrounds/background.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
  height: 100vh;
  width: 100vw;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(3px);
  }

.main-body {
    width: 100vw;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
	color: var(--whiteh);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 15px;
    background: rgba(12, 12, 20, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    border: 1px solid rgba(240, 247, 244, 0.43);

	.left-side {
		width: 25%;
		justify-content: left;
		align-items: center;
		
		h1 {
			font-size: 4em;
			margin: 0;
			cursor: pointer;
		}
	}

	.middle-side {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50%;
		a {
			font-size: 2em;
			margin-left: 10px;
			margin-right: 10px;
			cursor: pointer;
		}
	}

	.right-side {
		width: 25%;
		display: flex;
		flex-direction: row;
		justify-content: right;
		align-items: center;
		
		div {
			width: 20%;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin-left: 10px;
			margin-right: 10px;
			cursor: pointer;
		}
		
		img {
			width: 2.5vw;
			height: 2.5vw;
			margin: 0;
			margin-left: 5px;
			margin-right: 5px;
		}
		p {
			font-size: 2em;
			margin: 0;
		}
	}
    
}
.container_Box{
    background-color: var(--whiteh);
    background: rgba(12, 12, 20, 0.25);
    display:flex;
    flex-direction: column;
    width: 800px;
    height: 750px;
    position:relative;
    left:550px;
    top:50px;
    font-family: Inter;
    font-size:40px;
    border:1px;
    justify-content:space-between;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  
}
  .text_Box{
    
    width: 100%;
    height: 80px;
    position:relative;
    margin-top: 50px;
    font-family: Inter;
    font-size:20px;
    border:1px;

  }

  .word_Box{
    color:var(--whiteh);
    font-family:Inter;
    font-size: 20px;
    width:500px;
        
      
  }

  .word_Field{
    width: 400px;
    height: 50px;
    background: var(--whiteh);
    font-family: Inter;
    font-size: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid black; 
    position: relative;
    left: 175px;
    bottom: 36px;
  }