body {
    background-image: url('../Assets/Backgrounds/background.jpg');
    /* background-image: url('E:/Coding/Habit-Quest/src/Assets/Backgrounds/background.jpg'); */
    background-color: #2B2D42;
    background-repeat: no-repeat;
    background-size: cover; 
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: row;
}


#left-side {
    width: 50%;
    color: white;
}

#right-side {
    width: 50%;
    color: white;

    & #inner-box {
        margin: 0 auto;
        width: 50%;
        display: flex;
        flex-direction: column;

        h3 {
            text-align: center;
        }

        hr {
            height: 5px;
            width: 100%;
            border-radius: 20px;
            border: none;
            background-color: white;
        }
    }
}
